### SnapShot PySpark Test

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import first, col, split, when

# Create a SparkSession
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/04 14:11:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Read the text file into a DataFrame
file_path = 'textfile.txt'
df = spark.read.csv(file_path, header=True, inferSchema=True)

In [3]:
df.show()

+--------------------------------------------------------------------------------------------------------------------------------------+
|\fREPORT ID:  VSS-110                                         VISANET SETTLEMENT SERVICE                        PAGE:              1  |
+--------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                   REPORTING FOR:  ...|
|                                                                                                                   ROLLUP TO:      ...|
|                                                                                                                   FUNDS XFER ENTIT...|
|                                                                                                                   SETTLEMENT CURRE...|
|                                                                                                                                   ...|
|                                                                                                                                   ...|
|                                                                                                                   INTERCHANGE VALU...|
|                                                                                                                      TOTAL ACQUIRE...|
|                                                                                                                      TOTAL ISSUER ...|
|                                                                                                                      TOTAL OTHER  ...|
|                                                                                                                      TOTAL INTERCH...|
|                                                                                                                   REIMBURSEMENT FE...|
|                                                                                                                      TOTAL ACQUIRE...|
|                                                                                                                      TOTAL ISSUER ...|
|                                                                                                                      TOTAL OTHER  ...|
|                                                                                                                      TOTAL REIMBUR...|
|                                                                                                                   VISA CHARGES    ...|
|                                                                                                                      TOTAL ACQUIRE...|
|                                                                                                                      TOTAL ISSUER ...|
|                                                                                                                      TOTAL OTHER  ...|
+--------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [4]:
# Split the lines using whitespace as the delimiter
df = df.withColumn("columns", split(df.value, "\s+"))

AttributeError: 'DataFrame' object has no attribute 'value'

In [ ]:
# Extract the values from the split columns
df = df.selectExpr("columns[0] as VSS_110", "columns[1] as Reporting_For", "columns[2] as Settlement_Currency")

In [ ]:
# Get the first value of VSS-110
first_vss_110 = df.select(first(col("VSS_110"))).collect()[0][0]

In [ ]:
# Get the first value of VSS-110
first_vss_110 = df.select(first(col("VSS_110"))).collect()[0][0]

In [ ]:
# Filter the DataFrame to the first 10 VSS-110 values
filtered_df = df.filter(df["VSS_110"].isNotNull()).limit(10)

In [ ]:
# Calculate the count for Total Acquirer and Total Issuer
count_total_acquirer = filtered_df.agg({"Total_Acquirer": "sum"}).collect()[0][0]
count_total_issuer = filtered_df.agg({"Total_Issuer": "sum"}).collect()[0][0]

In [ ]:
# Calculate the Net settlement
net_settlement = filtered_df.agg({"Net Settlement Amount": "sum"}).collect()[0][0]

23/07/04 14:11:41 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors